.friendsGroup {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    justify-content: space-around;
    padding: 0 10px;
}

.avatar {
    max-height: 30px;
}

.friendsItem {
    max-width: 30px;
    font-size: 10px;
    font-weight: bold;
}

.friendsName {
    display: flex;
    flex-direction: column;
    row-gap: 0;
    align-items: center;
    text-decoration: none;
}