.formControl.error input,
.formControl.error textarea {
    border: solid red 2px;
}

.formControl.error span {
    color: red;
}

.formSummaryError {
    border: red 1px solid;
    padding: 5px;
    color: red;
}

.backgroundWhite{
    width: 100%;
    border: 1px solid var(--color-dark-100);
    background: var(--color-dark-900);
}