.layoutWrapper{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
}

.statusWrapper{
    background-color: var(--color-dark-900);
    border: solid 1px var(--color-dark-500);
    border-radius: 5px;
    padding: 15px 20px;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.allInfo{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.aboutUser{
    background-color: var(--color-dark-900);
    border: solid 1px var(--color-dark-500);
    border-radius: 5px;
    padding: 15px 20px;
    margin-bottom: 10px;
}

.bold{
    font-weight: bold;
}

.lighter{
    font-weight: lighter;
}

.link{
    color: #0000FF;
    font-size: 15px;
    font-weight: lighter;
}