.header {
    background: #001529;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.header img {
    max-height: 50px;
}

.loginBlock {
    display: flex;
    align-items: center;
}

.loginBlock a {
    color: #e4e6eb;
}

.logo{
    padding: 5px 0;
}