.header {
    //background: #001529;
    background: var(--color-head);
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.header img {
    max-height: 50px;
}

.loginBlock {
    display: flex;
    align-items: center;
}

.loginBlock a {
    color: #e4e6eb;
}

.logoOutWrapper{
    display:flex;
    justify-content:space-between;
    align-items: center;
    column-gap: 5px;
}

.logo{
    padding: 5px 0;
}