.app-wrapper {
    display: grid;
    color: #e4e6eb;
}

.app-wrapper-content {
    background-color: #18191a;;
    height: 100vh;
}
.sideBarBodyWrapper{
    display: flex;
    flex-direction: row;
}

