.appWrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100vh;
}

.app-wrapper-content {
    background-color: #18191a;;
    height: 100%;
}
.sideBarBodyWrapper{
    display: flex;
    flex: 1;
    flex-direction: row;
    padding: 20px 20px;
    border-radius: 2px;
    column-gap: 20px;
}

