.appWrapper {
    color: #e4e6eb;
    background-color: #121111;
height: 100vh;
}

.app-wrapper-content {
    background-color: #18191a;;
    height: 100vh;
}
.sideBarBodyWrapper{
    display: flex;
    flex-direction: row;
}

