body {
  background: #f0f2f5;
  color: rgba(0,0,0,.85);
  height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root{
  height: 100vh;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  color: #000;
  font-size: 20px;
}
li {
  all: unset;
}
button{
  font-family: inherit;
  border: solid 1px #595757;
  border-radius: 2px;
}
ul{
  padding-inline-start: 0;
}