.wrapperNav{
    padding: 10px 20px;
}

.ul{
    display: flex;
    row-gap: 5px;
    flex-direction: column;
    line-height: 1;
}
.navLink{
    //display: flex;
    //flex-direction: column;
    text-decoration: none;
    line-height: 1;
}
.item {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}

.item a.active{
    font-weight: bold;
}

.icon {
    display: flex;
    align-self: center;
}